<%= form_for @run, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :user_uva_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_uva_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :problem_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :problem_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :verdict, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :verdict, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :official_run, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :official_run, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                runs_path, :class => 'btn' %>
  </div>
<% end %>
