<%- model_class = Run -%>
<div class="page-header">
  <h1>Scoreboard</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Time </th>
      <%- @problems.each do |problem| %>
      <th><%= problem.number %></th>
      <%- end %>
      <th> Result </th>
    </tr>
  </thead>
  <tbody>
    <% @score.each do |score| %>
    <tr>
      <td><%= score[4].uva_login %></td>
      <%- @problems.each do |problem| %>
      <td>
        <%- vv = score[2].select{|val| val.problem_id == problem.id} %>
        <%- vv2 = score[3].select{|val| val.nil? ? false : val.problem_id == problem.id} %>
        <%- if vv.size > 0 %>
          <%= vv[0].current_time %>(<%= vv2.length > 0 ? vv2[0].verdict : 0 %>)
        <%- else %>
          <%= "-" %>
        <%- end %>
      </td>
      <%- end %>
      <td>
        <%= score[0] %> (<%=score[1] %>)
      </td>
    </tr>
    <%- end %>

  </tbody>
</table>
