<%- model_class = Run -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_uva_id) %>:</strong></dt>
  <dd><%= @run.user_uva_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:problem_number) %>:</strong></dt>
  <dd><%= @run.problem_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:verdict) %>:</strong></dt>
  <dd><%= @run.verdict %></dd>
  <dt><strong><%= model_class.human_attribute_name(:official_run) %>:</strong></dt>
  <dd><%= @run.official_run %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              runs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_run_path(@run), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              run_path(@run),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
